@import "tailwindcss";


#root {
  width: 100%;
  max-width: unset !important;
  padding: unset !important;
}


body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-primary: #24292E;
  --color-name-profile: #262626;
  --color-blue-light: #0587FF;

  --color-off-white: #989898;
  --color-off-white-100: #DBDBDB;
  --color-off-white-bgNumber: #F8F8F8;
  --color-off-white-input: #F4F4F4;

  --color-underline: #FD8C73;

  --color-dark-color: #292e37;
  /* ... */
}
